.grid-item {
  transition: transform 0.1s ease-in-out;
}

.grid-item:hover {
  transform: scaleX(1.8);
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-container > div {
  flex: 1 0 50%;
  height: 50vh;
}
